Source: httpbin
Section: web
Priority: optional
Maintainer: Debian Python Team <team+python@tracker.debian.org>
Uploaders: Timo Röhling <roehling@debian.org>
Build-Depends:
 debhelper-compat (= 13),
 dh-python,
 dh-sequence-python3,
 pybuild-plugin-pyproject,
 python3,
 python3-brotli <!nocheck>,
 python3-decorator <!nocheck>,
 python3-flask <!nocheck>,
 python3-flasgger <!nocheck>,
 python3-setuptools,
 python3-werkzeug <!nocheck>,
Rules-Requires-Root: no
Standards-Version: 4.6.2
Homepage: https://github.com/psf/httpbin
Testsuite: autopkgtest-pkg-pybuild
Vcs-Git: https://salsa.debian.org/python-team/packages/httpbin.git
Vcs-Browser: https://salsa.debian.org/python-team/packages/httpbin

Package: python3-httpbin
Section: python
Architecture: all
Depends:
 ${misc:Depends},
 ${python3:Depends},
 python3-brotli,
Recommends:
 gunicorn
Description: HTTP request and response service (Python 3 package)
 httpbin is a test server for testing HTTP libraries and apps. It
 features several endpoints to cover a multitude of HTTP scenarios.
 httpbin ships as a Python library and could be run directly by
 the Python interpreter, or as a WSGI app e.g. with Gunicorn. The
 endpoint responses are JSON-encoded.
 .
 This package provides httpbin in the Python 3 module path.
